{% extends 'base.html' %}

{% block title %}Plate-Go Data Analysis{% endblock title %}

{% block content %}
    <div class="block-center">
        <div class="ui modal mymodal">
            <div class="header">General info</div>
            <div class="ui container">
                <ul>
                    <li><strong>Number of samples provided: </strong>{{ provided_samples }}</li>
                    <li><strong>Bar information provided: </strong><span>&#x2718;</span></li>
                    <li><strong>Candidate Results provided: </strong><span>&#x2714;</span></li>
                    <li><strong>Manual Annotation/Validation: </strong>&#x2718;</li>
                </ul>
                <ul>
                    <li><strong>API version: </strong>1.2</li>
                    <li><strong>Client version: </strong>1.3</li>
                    <li><strong>LPR version: </strong>1.12</li>
                    <li><strong>LPD version: </strong>2.3</li>
                </ul>
            </div>
        </div>
    </div>


    <div>
        <div class="block-center">
            {% if error_message %}
                <div class="ui negative message">
                    <i class="close icon"></i>
                    <div class="header">
                        {{ error_message }}
                    </div>
                </div>
            {% endif %}
        </div>
        <br>
        <form action="" method="post">
            {% csrf_token %}

            <div class="field">
                <label>Csv File</label>
                <div class="ui selection dropdown field-with">
                    <input type="hidden" name="csv_file">
                    <i class="dropdown icon"></i>
                    <div class="default text">{{ selected_csv_file }}</div>
                    <div class="menu">
                        {% for file in csv_files %}
                            <div class="item {% ifequal file selected_csv_file %}active{% endifequal %}">
                                {{ file }}
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>

            <div class="ui form mtop">
                <div class="three fields">
                    <div class="field">
                        <label>Emirate</label>
                        <div class="ui selection dropdown">
                            <input type="hidden" name="emirate">
                            <i class="dropdown icon"></i>
                            <div class="default text">----</div>
                            <div class="menu">
                                <div class="item" value="bar">ALL</div>
                                <div class="item" value="line">AJM</div>
                                <div class="item" value="count">AUH</div>
                                <div class="item" value="count">DXB</div>
                                <div class="item" value="count">Other</div>
                            </div>
                        </div>
                    </div>
                    <div class="field">
                        <label>Attribute</label>
                        <div class="ui selection dropdown">
                            <input type="hidden" name="attribute">
                            <i class="dropdown icon"></i>
                            <div class="default text">----</div>
                            <div class="menu">
                                <div class="item" value="bar">Plates</div>
                                <div class="item" value="line">Plates Error</div>
                                <div class="item" value="line">Attributes Error</div>
                            </div>
                        </div>
                    </div>
                    <div class="field">
                        <label>Result type</label>
                        <div class="ui selection dropdown">
                            <input type="hidden" name="result_type">
                            <i class="dropdown icon"></i>
                            <div class="default text">----</div>
                            <div class="menu">
                                <div class="item" value="bar">Count</div>
                                <div class="item" value="line">Percentage</div>
                            </div>
                        </div>
                    </div>
                    <h4>by</h4>
                    <div class="field">
                        <label>Data info</label>
                        <div class="ui selection dropdown">
                            <input type="hidden" name="data_info">
                            <i class="dropdown icon"></i>
                            <div class="default text">----</div>
                            <div class="menu">
                                <div class="item" value="bar">Time (Hours)</div>
                                <div class="item" value="line">Emirate</div>
                                <div class="item" value="count">Emirate-Color</div>
                                <div class="item" value="count">Attribute-Type</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="block-center">
                <button class='ui primary button' type='submit'>Generate Graph</button>
            </div>
        </form>
        <div class="block-center">
            <button class='ui positive button' id="model-btn">See Summary</button>
        </div>

        <div class="block-center">
            {% if request.POST %}
                {% if graph %}
                    <img src="data:image/png;base64, {{ graph | safe }}">
                {% endif %}
            {% endif %}
        </div>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
    </div>
{% endblock content %}